@import './../../style/variables';

.title {
  @extend %chalk-font;
  font-size: 30px;
  line-height: 30px;
  cursor: default;
  text-align: center;
  width: 100%;
  margin: 50px 0px;
  position: absolute;
  top: 0;
}
.title-break {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid $grey-500;
}
